<!-- About section template -->

<!-- Qoplovchi fon rasmi va sarlavha -->
<div class="relative w-full h-[60vh] bg-cover bg-center" style="background-image: url('assets/image/project.jpg');">
  <div class="absolute inset-0 backdrop-blur-xs"></div>

  <div class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center px-4">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">  {{ 'about.title' | translate }}
    </h1>
    <div class="flex items-center gap-2 text-sm text-gray-300">
      <a routerLink="/" class="hover:underline">{{ 'about.home' | translate }}</a>
      <span>/</span>
      <span class="text-white">{{ 'about.breadcrumb' | translate }}</span>
    </div>
  </div>
</div>

<!-- Asosiy matn -->
<section class="max-w-5xl mx-auto px-4 py-12 text-gray-800 text-lg space-y-6">
  <h2 class="text-2xl md:text-3xl font-bold text-center text-gray-900">  {{ 'about.sectionTitle' | translate }}
  </h2>

  <p>{{ 'about.description1' | translate }}</p>
<p>{{ 'about.description2' | translate }}</p>
<p>{{ 'about.description3' | translate }}</p>
<p>{{ 'about.description4' | translate }}</p>
</section>


<section class="bg-[#f7f0e9] py-16 px-4">
  <div class="max-w-7xl mx-auto text-center">
    <h2 class="text-3xl md:text-4xl font-semibold text-[#1d3557] mb-4">
      {{ 'about.highlightTitle' | translate }}
    </h2>
    <p class="text-[#5e6a75] text-xs  max-w-2xl mx-auto">
      {{ 'about.highlightText' | translate }}

    </p>
  </div>

  <div class="mt-16 max-w-6xl mx-auto flex flex-col md:flex-row items-center bg-white rounded-lg shadow-md overflow-hidden">
    <div class="w-full md:w-1/2 h-72 md:h-auto">
      <img src="assets/image/slider_2.jpg" alt="Asman Group Loyiha" class="object-cover w-full h-full" />
    </div>

    <div class="w-full md:w-1/2 p-6 md:p-10">
      <h3 class="text-2xl font-semibold text-[#bfa88f] mb-4">Orzular Maskani</h3>
      <p class="text-[#5e6a75] text-base leading-relaxed">
        {{ 'about.projectDescription' | translate }}

      </p>
    </div>
  </div>
</section>


<!-- Rasmlar galereyasi -->
<section class="py-12">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-8">  {{ 'about.galleryTitle' | translate }}
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <img src="../../../../../assets/image/footer-bg.jpg" alt="about1" class="rounded-xl shadow hover:scale-105 transition duration-300">
      <img src="../../../../../assets/image/slider_1.jpg" alt="about2" class="rounded-xl shadow hover:scale-105 transition duration-300">
      <img src="../../../../../assets/image/slider_3.jpg" alt="about3" class="rounded-xl shadow hover:scale-105 transition duration-300">
    </div>
  </div>
</section>
